@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Londrina+Shadow&family=Madimi+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    pad: 0;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    
}
body{
    background-color: #FCECFC;
}
@media screen and (Max-width:1000px)  {
    .projects{
        height: 90vh;
    }
    .title{
        height: 90vh;
    }
}
@media screen and (Max-width:800px)  {
    .projects{
        height: 80vh;
    }
    .title{
        height: 80vh;
    }
    
}
@media screen and (Max-width:720px)  {
    .projects{
        height: 75vh;
    }
    .title{
        height: 70vh;
    }
}